body {
  width: 100%;
}

/*HEADER*/

header {
  border-bottom: 3px solid #D1D1D1;
  background-color: #58B3D1;
  width: 100%;
  display: inline-block;
  text-align: center;
}

header h2 {
  font-size: 18px;
}

#header_right {
  float: right;
  margin-right: 10px;
}

#header_center {
  width: 30%;
  align: center;
  margin: auto;
  color: #D1D1D1;
}

a {
  text-decoration: none;
  color: #A85003;
  border-right: 2px solid #D1D1D1;
  padding-right: 3px;
}

header #logout_link {
  border: none;
}

/*Login*/

#login_form {
  margin: 1%;
  float: right;
  color: #D1D1D1;
  background-color: #58B3D1;
  padding: 0.5%;
  margin-right: 4%;
  padding-bottom: 1%;
}

#login_form input{
  color: black;
  margin: 1%;
}


/*BODY*/

#site_title {
  float: left;
}
