<form action='/users/login' method='post' id="login_form">
  <label for='user_name_field'>User Name:</label> <br>
  <input id='user_name_field' type='text' name='user_name' placeholder='JohnDoe1990'> <br>
  <label for='password_field'>Password:</label> <br>
  <input id='password_field' type='password' name='password' placeholder='hunter2'> <br>
  <input id='login_submit' type='submit' value='Log in'>
</form>
